@import './fonts';

body {
    color: $color-onyx;
    font-family: $font-open-sans;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $color-onyx;
}

.section {
    width: 100%;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}