.form__warning__section {
    background-color: $color-mustard;
    min-height: 160px;
    display: flex;
    align-items: center;
    
    .form__warning__container {

        .form__warning__title {
            font-size: 2rem;
            line-height: 3rem;
            font-weight: 600;
        }

        .form__warning__text {

        }
    }
}