.navbar__color {
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
    
    @include laptop {
        background-color: white !important;
    }
}

.navbar__section {
    min-height: 80px;
    height: 10vh;
    background-color: $color-mustard;
    position: fixed;
    top: 0;
    left: 0;

    @include laptop {
        min-height: 150px;
        background: transparent;
    }

    .navbar__container {
        min-height: 80px;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include laptop {
            min-height: 150px;
        }
        
        .navbar__logo {
            font-size: 3rem;

            @include laptop {
                display: none;
            }

            path {
                color: $color-white;
            }
        }

        .navbar__box {
            display: none;
            width: 100%;

            @include laptop {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .navbar__btns {
                margin-bottom: 30px;
                display: flex;
                gap: 10px;
                
                .navbar__hello {
                    padding: 12px 22px;
                    font-weight: 600;
                }

                .navbar__give__btn {
                    padding: 10px 20px;
                    border: 2px solid $color-mustard;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .navbar__logout__btn {
                    padding: 12px 22px;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .navbar__login__btn {
                    padding: 12px 22px;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
    
                .navbar__signup__btn {
                    padding: 10px 20px;
                    border: 2px solid $color-mustard;
                    box-sizing: border-box;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
    
            .navbar__menu {
                display: flex;

                .navbar__menu__el {
                    font-size: 1.3rem;                    
                }

                a {
                    padding: 5px 10px;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .first__el {
                    border: 1px solid $color-onyx;
                    background-color: white;
                }
            }
        }

        .navbar__hamburger__open {
            font-size: 2rem;

            @include laptop {
                display: none;
            }

            path {
                color: $color-white;
            }
        }
    }

    .navbar__hamburger__box {
        position: fixed;
        top: 0;
        border: 3px solid $color-mustard;
        height: 50vh;
        min-height: 400px;
        width: 100%;
        transition: 0.5s ease;
        background-color: $color-white;
        
        div {
            display: flex;
            justify-content: flex-end;

            .navbar__hamburger__exit {
                margin: 20px;
                font-size: 2.5rem;
                margin-left: auto;
                
                path {
                    color: $color-mustard;
                }
            }
        }
        
        .navbar__hello {
            padding-right: 20px;
        }
        .navbar__btns {
            padding: 20px;
            display: flex;
            justify-content: flex-end;

            .navbar__give__btn {
                padding: 5px 15px;
                border: 2px solid $color-mustard;

                &:hover {
                    text-decoration: underline;
                }
            }

            .navbar__logout__btn {
                padding: 7px 17px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .navbar__login__btn {
                padding: 7px 17px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .navbar__signup__btn {
                padding: 5px 15px;
                border: 2px solid $color-mustard;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .navbar__menu {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 30px;

            .navbar__menu__el {
                padding: 10px 0;
                .first__el {
                    border: 1px solid $color-onyx;
                    padding: 5px 5px;
                }
            }
               
        }
    }
}

.left500 {
    left: -500%;
}

.left0 {
    left: 0;
}