.summary__details {
    display: flex;
}

.summary__address__box {
    margin-right: 30px;
}

div {
    margin: 5px 0;
}

.summary__title, .summary__address__title, .summary__pickup__title {
    font-weight: 600;
}